<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!-- Include any CSS or other meta tags here -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/2023">2023 CVE Data</a></li>
            <li><a href="/example">Example Chart</a></li>
            <li><a href="/cve">Most and Least Common CVE</a></li>
            <li><a href="/topRansomwareGang">Top Ransomware Gangs</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
