<!doctype html>
<html lang="en">
  <head>
    <title>Upload File</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Upload a .xlsx file to search</h1>
      <form method="POST" action="/upload" enctype="multipart/form-data" class="mt-4">
        <div class="form-group">
          <input type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
  </body>
</html>
