<!doctype html>
<html lang="en">
  <head>
    <title>Search Results</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Enter a term to search</h1>
      <p class="text-center">Sorting completed in {{ elapsed_time }} seconds.</p>
      <form method="POST" class="form-inline justify-content-center mb-4">
        <input type="text" name="search_term" class="form-control mr-2" placeholder="Search term">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
      <div class="table-responsive">
        {{ sorted_df_html | safe }}
      </div>
    </div>
  </body>
</html>
